<div class="footer py-3">
  <div class="footer-links">
    <a href="https://github.com/RohitSharma66" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/home?lang=en-gb" target="blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/mrrohitsharma/" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Rohit
  </div>
</div>


